.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  padding: 10px 0 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.Row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}

button {
  cursor: pointer;
}

.fullbutton {
  width: 100%;
  padding: 10px 0 10px 0;
  margin-top: 10px;
}

.action {
  background-color: #007bff;
}

.calculator {
  margin: auto;
  max-width: 800px;
}

.global {
  display: flex;
  justify-content: space-between;
}

.file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: dimgray;
  width: 100%;
  color: white;
}

.file-upload input[type="file"] {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}
